.deliveryPage {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.deliveryPage img {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .deliveryPage img {
        max-width: 100%;
    }
}

